<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>formulae lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>formulae.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D361448218AC86970037CCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D36144A318AC86970037CCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3B1128B1931B21900774D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3B654D51931AE4600021E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C30E61192DA184004EC8BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C30E7D192DA184004EC8BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C30E92192DA332004EC8BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
